.newProductSection{
   
    background: rgb(35, 101, 126);
    background: radial-gradient(circle, rgba(84, 177, 211, 0.774) 0%, #5397c1af 100%);
    font-family: 'Mina', sans-serif;
    padding: 5px 0px;
}
.new-card {
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    background: white;
}

.new-card:hover{
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    
}